<md-card class="club-card">
  <md-card-header>
    <md-card-title>Clavesin</md-card-title>
  </md-card-header>
  <img md-card-image src="https://firebasestorage.googleapis.com/v0/b/hhhd-27e4f.appspot.com/o/clavesin.jpg?alt=media&token=3f09d6cc-9fc8-4011-a8ec-70abaaaf2f39">
  <md-card-content>
    <p>
    brief description
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>EDIT</button>
    <button md-button>SAVE</button>
    <button md-button>BACK</button>
  </md-card-actions>
</md-card>

