	  {{title}}
<div> {{ (af.auth | async)?.uid }} </div>


	
	<md-tab-group dynamicHeight='false' >






  <md-tab label="add New">
    

<div class="container">
  <div [hidden]="submitted">
    <h1>Club form</h1>
    <form (ngSubmit)="onSubmit(); false;" #clubForm="ngForm" >
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        
       <textarea type="text" class="form-control" id="description"
               [(ngModel)]="model.description" name="description"></textarea>
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        <input type='file' class="form-control" id="image"
                 accept="image/png,image/gif,image/jpeg"
                (ngModel)="model.imageurl" name="image"
                #image="ngModel" (change)='updatePreview($event.target.files[0])' style="padding:unset">
		<img [hidden]="!model.imageurl && !model.preview" src='{{model.preview != null ? model.preview : model.imageurl }}' style="max-width:100%;max-height:100%;">                
        <div [hidden]="image.valid || image.pristine" class="alert alert-danger">
          Power is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!clubForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newClub(); clubForm.reset()">New Club</button>
      

     
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Description</div>
      <div class="col-xs-9 pull-left">{{ model.description }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Image</div>
      <div class="col-xs-9 pull-left">{{ model.imageurl }}</div>
      <img [hidden]="!model.imageurl && !model.preview" src='{{model.preview != null ? model.preview : model.imageurl }}' style="max-width:100%;max-height:100%;">                
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>



</md-tab>



	  






  <md-tab label="View details" *ngIf='clubview.$key && viewitems[clubview.$key];'>

<md-sidenav-container style="max-height:100%">
  <md-sidenav mode="push" opened="false" style=" width: 20%;min-width:200px " #sidenav>
<md-list>
  <md-list-item  style="max-height:100%;width:100%" *ngFor="let key of viewitemkeys">
     <img md-list-avatar onError='this.src = "https://duckduckgo.com/hiring/illustrations/logo.svg"' src='{{viewitems[key].imageurl}}' style="max-height:100%;max-width:100%;">
     <a md-line >{{ viewitems[key].name }}</a>
     <button md-icon-button (click)="viewDetail(key)">
        <md-icon>info</md-icon>
     </button>
  </md-list-item>
</md-list>
    
  </md-sidenav>
    

<md-card class="example-card" >
    <div md-card-avatar class="example-header-image">
    <md-list>
    <md-list-item >
    <img md-list-avatar [src]="viewitems[clubview.$key].imageurl" style="margin:auto;max-width:100%;max-height:100%">
    <a md-line >{{viewitems[clubview.$key].name}}</a>
    </md-list-item>
    
    <p md-line style="padding: 0 16px;white-space:unset;height:unset;word-break:break-all">
        {{viewitems[clubview.$key].description}}
    </p>
    
    <md-list-item >
    <button md-button style="flex:1" (click)='editItem(clubview.$key,viewitems[clubview.$key])'>EDIT</button>
    </md-list-item>
    </md-list>
    <md-list-item >
    <img style="max-width:100%;max-height:100%" [src]="viewitems[clubview.$key].imageurl">
    </md-list-item>
    </div>
</md-card>



   
    <div style="position:fixed;top:50px;right:50px;z-index=99"> <button md-mini-fab (click)='sidenav.toggle()' > <md-icon>add</md-icon></button></div>

  </md-sidenav-container>
  </md-tab>




<md-tab label="Logo list">
<md-grid-list rowHeight="1:1" style="" cols="{{ 2}}"  *ngIf='activated'>
<md-grid-tile  *ngFor="let key of viewitemkeys">

<button md-button (click)='viewDetail(key)' style='opacity:1;width:100%;height:100%;padding:0;' >
<div class="club-card" *ngIf='viewitems.hasOwnProperty(key)'  style.background-image="{{'url(' + viewitems[key].imageurl + ')'}}"  style="width:100%;height:100%;background-repeat:no-repeat; background-position:center center;background-size:cover;" >

      <md-grid-tile-header style='text-overflow:ellipsis;overflow-x:hidden;white-space:nowrap
      ;display:block;'>{{viewitems[key].name}}</md-grid-tile-header>
  
  <md-grid-tile-footer style='display:none'>
  </md-grid-tile-footer>
</div >
    </button>
	</md-grid-tile>
</md-grid-list>
</md-tab>

<md-tab label="Detailed list">    
<md-card class="example-card"  style="margin:4px;padding:1px;" *ngFor='let key of viewitemkeys'>
    <div md-card-avatar class="example-header-image" >
    <md-list>
    <md-list-item >
    <img md-list-avatar [src]="viewitems[key].imageurl" style="margin:auto;max-width:100%;max-height:100%">
    <a md-line >{{viewitems[key].name}}</a>
    </md-list-item>
    
    <p md-line style="padding: 0 16px;white-space:unset;height:unset;word-break:break-all">
        {{viewitems[key].description}}
    </p>
    
    <md-list-item >
    <button md-button (click)='editItem(key,viewitems[key])' style="width:50%">EDIT</button>
    <button md-button (click)='viewDetail(key)' style="width:50%">VIEW</button>
    </md-list-item>
    </md-list>
    <md-list-item >
    <img style="max-width:100%;max-height:100%" [src]="viewitems[key].imageurl">
    </md-list-item>
    </div>
</md-card>

</md-tab>

</md-tab-group>





